<!DOCTYPE html>
<html>
  <head>
    <title>Contact Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../myblog/styles/layout.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="retrieve-data-with-jquery.js"></script>
    </head>
<body>
<div class="main-container">
<header>
 <% include header %>
 </header>

<div class="container-fluid">
    
    <div class="col-md-8 inner-body">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.4595217028077!2d-74.00866208518813!3d40.70789957933236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a3d5fa9a17d%3A0x21beee51e995857!2s90+John+St%2C+New+York%2C+NY+10038!5e0!3m2!1sen!2sus!4v1478830463560" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>       
    </div>

    <div class="col-md-4 inner-body">
        <h1>NYCDA Headquarters</h1>
        <h3>New York City, NY</h3>
        NYCDA Headquarters @ 90 John Street<br>
        Suite #404<br>
        Manhattan NY<br>

    </div>
  
</div>

</div>
<% include footer %>
</body>
</html>